* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid pink; 
    */


}

.never-shown {
    display: none;
}





:root {
    --pht-green: #466D34;
    --pht-orange: #F29D78;
    --footer-white: rgba(255, 255, 255, 0.503)
}

.wrapper {
    padding-left: 35px;
    padding-right: 35px;
}



li {
    list-style-type: none;

}

a {
    text-decoration: none;

    color: black;


}









/*====FONTS=====*/


.bold {
    font-weight: 500;
}

@font-face {
    font-family: "Aktiv-reg";
    src: url(../fonts/AktivGrotesk-Regular.ttf);
}

@font-face {
    font-family: "Aktiv-bold";
    src: url(../fonts/AktivGrotesk-Bold.ttf);
}

@font-face {
    font-family: "Beauty";
    src: url(../fonts/BeautyLuxury-Regular.otf);
}

.small-spaced {

    line-height: 3rem;
    word-spacing: 0.5rem;
    font-size: 1.4rem;
    
    letter-spacing: 0.075rem;


}






html {
    font-size: 10px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    /*background-color: #fff7e4;*/
    background-color: white;
    color: #222222;


}

/*========*/
a, li, label, button, h1, h2, h3 {
    letter-spacing: 0.12rem;


}




.selected {

    padding-bottom: 6px;
    border-bottom: 2px solid #F29D78;


}




/*=====NAV AND TOP SECTION======*/

.top-container {
    width: 100%;
    display: flex;
    height: 30px;
    position: absolute;
    z-index: 20;
}

.sticky {
    padding-top: 15px;
}

.contact-info-top {
    background-color: var(--pht-green);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: 10px;








}

#contact-info-top-left {

    width: 50%;

    height: 100%;
}



#contact-info-top-content {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 390px;
    color: white;
    font-size: 1.4rem;
    letter-spacing: 0.075rem;

}

.fa-phone, .fa-envelope {
    color: var(--pht-orange);
    padding-right: 5px;


}

.nav-top {
    display: flex;
    justify-content: space-between;

    position: absolute;
    width: 100vw;
    background-color: transparent;
    z-index: 3;
    margin-top: -7px;
}


#nav-top-links {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    color: white;
    padding: 20px 10px;



}

#nav-logo {
    width: 250px;
}







#nav-top-ul {
    display: flex;
    width: 59%;
    min-width: 400px;
    justify-content: space-between;
    font-size: 1.3rem;

    font-weight: 300;
}

#nav-top-ul a {
    color: white;
}

.nav-top-li {
    padding-left: 10px;
    padding-right: 10px;
}

/*=======dropdown menu======*/
.dropdown-menu-container {

    position: absolute;
    
    background-color: rgba(0, 0, 0, 0.6);
  
    
   
    z-index: 500;
    margin-top: 8px;
    padding-bottom: 10px;
    



}



.dropdown-menu {
    display: flex;
    flex-direction: column;
   
    justify-content: space-around;
    
    
    
}





.dropdown-menu a {
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 3px 0;
  
   
}





.dropdown-menu li, .hamburger-menu li {

    border-bottom: 1px solid transparent;
   
}

.dropdown-menu li {
   padding: 14px;
}




.dropdown-menu li:hover, .hamburger-menu li:hover {

    border-bottom: 1px solid #a16549;


}


/*====hamburger menu====*/


.hamburger-menu-container {
    width: 100%;
    height: 100vh;
    
    position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    overflow: auto;
    z-index: 1000;
    
    
    
    
}

.hamburger-menu {


    
   
    
    background: transparent;
    font-size: 1.3rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    
    
    height: 100%;
    








}

.hamburger-button-container:hover {
    cursor: pointer;
}


.hamburger-menu-container .x-container {
    color: rgba(255, 255, 255, 0.593);

    height: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    right: 0;
    padding-right: 30px;
   

}






#hamburger-x-button {
    color: rgba(255, 255, 255, 0.593);

    position: absolute;
    margin-bottom: 15px;
    top: 15px;

}

.home-page-hamburger-button {
    margin-top: 7px;
    
}






.hamburger-menu li {
    color: white;
    padding: 15px 0 15px 15px;
    

}

.hamburger-menu a {
    font-weight: 300;
    font-size: 1.5rem;
    
}

/*=====*/











#logo-container {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    padding: 20px 10px;




}

#hero-badge-logo {
    min-width: 200px;
}

#hero {
    position: relative;
    height: 620px;




}

/*hero form*/

.form-image-container {
    width: 15%;
    height: auto;
}

.form-header-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 15px;
}



#hero-form-container {
    position: absolute;
    position: fixed;
    display: flex;
    
   justify-content: space-around;
    width: 100%;
    z-index: 100;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    overflow: auto;

}

.home-page-hours-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

#home-page-info-container{

    border: 1px solid white;
}

.hero-form .small-spaced {
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    
}

.home-page .bold {
    color: black;
    font-weight: 600;
    font-size: 1.4rem;
}



#hidden-form {
    
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   justify-content: center;
  
   
}

#hero-form {
    background-color: rgb(249, 208, 191);
    padding-top: 15px;
    
    position: relative;
  
  

    height: 95vh;
    padding: 30px 15px;
    width: 90%;
    min-width: 300px;
    
}







#hero .form-header {
    font-size: 2rem;
}

#hero form input {
    margin-bottom: 15px;
}

#hero-form .contact-submit-button {
    height: 55px;
}

.x-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 15px;

}



.x-button {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.x-button:hover {
    cursor: pointer;
}

.home-page .x-container {
    color: white;
    top: 10px;
    
    
}





/*=======*/

#hero-content-container {

    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}









#hero-text {
    font-size: 5rem;
    font-weight: 200;
    color: white;
    opacity: 0.95;




}


#hero-left {

    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 25px;
    background-color: rgba(0, 0, 0, 0.6);





}

.life {
    border-bottom: 2px solid #F29D78;


}




#hero-button-container {
    height: 70px;
    display: flex;
    width: 100%;
    justify-content: center;
}

/*
* {
    border: 1px solid pink;
}
*/

#hero-contact {
    font-size: 1.65rem;
    font-weight: 300;
    width: 30%;
    min-width: 165px;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    opacity: 0.95;
    border: 2px solid #F29D78;
    font-family: "Roboto";





}




#hero-video-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

}


#hero-background {

    filter: brightness(0.9);
    object-fit: cover;
    height: 100%;

}

/*==HOME PAGE TRANSITION SECTION==*/

#transition-section {
    height: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 300px;

}

#ts-wrapper {
    width: 85%;

    display: flex;

}

#ts-left {
    width: 50%;
}

#ts-right {
    width: 50%;
}

.ts-div {
    height: 10%;

}

/*===HOME PAGE SOULUTIONS SECTION===*/

.solutions-section {

    width: 100%;
    height: auto;
    margin: 300px 0;
}



.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    width: 100%;
    
}

.categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;




}

.category {
    margin: 10px 10px 10px 0;
    /*
    background-color: #f29d7879;
    */
    color: #f29d7879;
    color: #F29D78;

    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    border-radius: 20px;
    padding: 10px;



}

.category-icon {
    display: flex;
    justify-content: center;
}


.category-title {
    
    font-size: 1.6rem;
    font-weight: 300;
    word-spacing: 0.5rem;
    letter-spacing: 0.12rem;
    text-align: center;
    color: black;
    
    


}


.cat-pic {
    font-size: 7rem;

}

.category:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform .15s ease;


}




/*CONTACT SECTION*/


#contact-section {

    padding-top: 50px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    







}

#contact-section-wrapper {
    height: 90%;


    display: flex;
    justify-content: center;

    align-items: center;
    width: 100%;
}

.home-page-contact-header {
    font-size: 5rem;
    font-weight: 200;
    border-bottom: 1px solid #f29d7879;
    word-spacing: 0.5rem;
    text-align: center;
    line-height: 8rem;
    width: 80%;
    margin-bottom: 15px;






}

.you {
    font-weight: 500;
    background-color: #F29D78;
    padding: 10px 20px;
    border: 2px solid black;
}

.contact-section-header-p {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 15px;
}




form {

    width: 55%;
    min-width: 350px;
    display: flex;
    flex-direction: column;




    border-radius: 20px;

    font-weight: 300;
    padding: 30px 15px 50px;


    background: #f29d7879;

}

#contact-page-form {
    width: 75%;
}



label, legend {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 8px;



}

.small {
    font-size: 1.3rem;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.contact-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

input {

    height: 35px;


    margin-bottom: 25px;

    width: 100%;
    padding: 5px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;



}

fieldset {
    border: none;
    height: 90px;


}





.name-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;

}

.name-container div {

    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;

}





textarea:focus, input:focus {
    outline: none;
}

textarea {
    resize: none;
    padding: 5px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;





}

.form-p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-submit-button {
    border-radius: 20px;
    border: none;
    height: 35px;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #F29D78
}

.contact-submit-button:hover {
    cursor: pointer;



}

.required-star {
    color: red
}








/*==FOOTER==*/
footer {
    background: var(--pht-green);
    padding: 15px 30px;
    height: auto;




}



footer a {

    color: white;
}

#footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.501);


}














.contact-info {
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
}

#footer-nav {
    width: 100%;

    display: flex;

    justify-content: center;

    padding-top: 20px;
    padding-bottom: 10px;

}

#footer-nav-list {
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.7;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;


}


















.fa-brands {
    color: white;
    font-size: 2rem;
}

.footer-socials-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

}

.footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*padding: 25px 25px 0 0;*/
    height: 70px;
    width: 11%;
    min-width: 125px;
    align-items: center;

}









#pht-footer-icon {
    width: 100%;
    height: 100%;

    object-fit: contain;
    opacity: 0.2;
}

#footer-images {
    display: flex;
    width: 100%;

}

.footer-logo-container {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}




/*==ANIMATIONS AND HOVER==*/

#hero-contact:hover {
    cursor: pointer;
    background-color: #F29D78;
}

.service-section:hover {


    cursor: pointer;




}

.cat-li a:hover {
    color: #F29D78;
}





#nav-top-ul a:hover {

    filter: brightness(1.5);



}

/*==CONTACT PAGE==*/

.contact-page-section {
    width: 100%;
    height: 1500px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;




}

.contact-page-intro {
    border: 1px solid black;
    padding: 20px;
}

#contact-page-info-wrapper {
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
    margin-bottom: 150px;
    padding-top: 50px;


}

.contact-page-info-container {
    border: 1px solid black;
    padding: 20px;
}



#contact-page-contact-form-container {
    width: 50%;
    display: flex;
    justify-content: center;


}

.hours-container {
    width: 35%;
    height: 100%;


}

.hours-container p {

    margin-bottom: 15px;


}


.form-header {
    font-size: 2.5rem;
    font-family: "Homemade Apple", Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
}

.contact-page-header-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

.contact-page-info-top {
    padding-top: 15px;
}



.contact-page-header {
    width: 100%;
    font-family: "Homemade Apple", Arial, Helvetica, sans-serif;

    font-size: 7rem;
    text-align: center;
    margin-bottom: 30px;
}

.chev {
    margin-top: 80px;

}

.orange {
    background-color: #F29D78;
    padding: 5px;

}

.fa-chevron-down {

    font-size: 1.6rem;

}

.fa-chevron-down:hover {
    cursor: pointer;
}

.contact-page-info-container {
    display: flex;
    flex-direction: column;

}

.contact-page-contact-info {
    color: black;
    font-weight: 300;

    letter-spacing: 0.125rem;
    display: block;
    width: fit-content;
    padding: 5px;
    font-weight: 500;
    font-size: 1.3rem;


}



.contact-page-socials {
    color: black;
}

.home-page-socials {
    color: white;
   
}

.home-page-socials:hover {
    color: #F29D78;
}

.home-page-socials-container {
    width: 100%;
}

/*==Solutions page==*/

.solutions-page {
    margin-top: 7px;
    
}

/*====SERVICE PAGES====*/

.service-page .contact-page-header-container {
    position: relative;
}

.service-page .contact-page-header-container div {
    position: absolute;
    top: -40px;
    background-color: white;
}

.service-page .contact-page-header {
    margin-bottom: 15px;
}

.service-page-hero-image-container {
    margin-top: 15px;
}



.service-page-hero-image-container {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    
}

.home-theater-page .service-page-hero-image-container {

    background-image: url(../images/homeTheater.jpeg);
    
    }

    .wifi-networking-page .service-page-hero-image-container {
        background-image: url(../images/network.jpeg);
    }

    .home-automation-page .service-page-hero-image-container {
        background-image: url(../images/homeAutomation.jpeg);
    }

    .multi-room-audio-page .service-page-hero-image-container {
        background-image: url(../images/multiRoomAudio.jpeg);
    }

    .security-cameras-page .service-page-hero-image-container {
        background-image: url(../images/securityCam.jpeg);
    }

    .lighting-control-page .service-page-hero-image-container {
        background-image: url(../images/lightingControl.jpeg);
    }

    .outdoor-lighting-sound-page .service-page-hero-image-container {
        background-image: url(../images/outdoorLighting.jpeg);
    }

    .av-page .service-page-hero-image-container {
        background-image: url(../images/homeTheater.jpg);
    }

    



.orange {
  padding: 5px 5px;
}

/*====SUBMITTED PAGE======*/

.form-submitted {
    height: 800px;


}

#thank-you-box-wrapper {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thank-you-box {
    width: 60%;
    height: 60%;
    background-color: pink;

}

.sticky-nav {
    background-color: #466d34;
    position: static;



}

#f-button:hover {

    cursor: pointer;

}


.hidden {
    display: none;
}



/*==ABOUT PAGE==*/

.page-title {
    font-size: 2rem;
    font-weight: 300;
    word-spacing: 0.5rem;
    line-height: 4rem;
    letter-spacing: 0.12rem;
    text-transform: capitalize;
    font-family:  "Roboto", Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(249, 208, 191);
    text-align: left;
    padding-left: 30px;
}

/*Solutions ul===*/

.cat-ul {
    display: flex;
    height: 41px;
   
    
   
}

.cat-li {
    border: none;
    
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.35rem;
    font-weight: 300;
    word-spacing: 0.5rem;
    letter-spacing: 0.12rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid transparent;

    
    
    
}

.cat-ul .selected {
   padding-bottom: 0;
  border-bottom: 2px solid #F29D78;
  
   
}

/*+++SCROLLER*/

.scroller {
    max-width: 100%;
   
}

.scroller-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-block: 1rem;
}

.scroller[data-animated = "true"] {
  
    overflow: hidden;
    -webkit-mask: linear-gradient(90 deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90 deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated = "true"] .scroller_inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction = "right"] {
    --_animation-direction: reverse;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.25rem));
    }
}




.home-page-hours-container .contact-info {
    color: white;
}


/*==MEDIA QUERIES==*/




@media (max-width: 1160px) {










    .footer-section {
        padding-bottom: 20px;
        width: 100%;
        align-items: center;
    }





    footer p {
        text-align: center;
    }

    #footer-nav-container {
        min-width: 378px;
    }

    .footer-nav-li {
        padding-bottom: 8px;
        text-align: center;
    }



    .footer-socials {
        width: 15%;
        justify-content: space-around;
        padding-bottom: 0;
    }

    .footer-socials-container {
        justify-content: flex-end;



    }






}

@media (max-width: 1040px) {


    .contact-info-top {
        display: none;
    }



    .service-section-row-container {
        flex-direction: column;
        padding-top: 0;
        justify-content: space-around;
        min-width: 100%;

    }

    .service-section-row-container:last-of-type {
        justify-content: flex-start;
        padding-top: 25px;
    }



    #services-section {
        height: 4000px;
        padding-bottom: 0;


    }


    .service-section {
        height: 45%;
    }






}

@media (max-width: 1010px) {

    #hero-text {
        padding-bottom: 40px;
    }
}

@media (max-width: 940px) {

    #hero-left {
        padding-bottom: 0;

    }

    #to {
        border-bottom: none;
    }


}



@media (max-width: 900px) {




    #hero {
        height: auto;
    }

    #hero-left {
        position: relative;
        width: 100%;
        height: 90%;
        padding: 30px;
        background-color: rgb(25, 25, 25)
    }

    form {
        width: 95%;
    }





    #hero-right {
        width: 100%;

    }

    #hero-video {
        width: 100%;
    }







    #hero {
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;

    }

    #hero-video-container {
        height: 319px;
    }

    #hero-video {
        border-radius: 0;

    }



    #hero-text-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 25px;

    }

    #hero-text {
        justify-content: center;
        text-align: center;
    }

    #hero-button-container {
        padding-right: 0;

    }





    #services-section-content-container {

        height: 100%;
        justify-content: space-around;
    }





    .service-section-row-container {

        justify-content: space-around;
        
    }









    #hero-form-container {
        
        flex-direction: column;
        align-items: center;
        
    }

    /*==CONTACT PAGE==*/

    .contact-page-section {
        height: 1700px;
    }

    #contact-page-info-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    #contact-page-contact-form-container {
        width: 100%;
    }

    .hours-container {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-page-info-container {
        width: 50%;
        min-width: 265px;
    }

    .contact-footer-socials-container {
        justify-content: center;
    }

}

@media (max-width: 800px) {

  

    #nav-top-links {
        display: none;
    }

    #hero-form-container {
        top: 0;
    }

  

    .home-page .nav-top {
        position:relative;
        background-color: rgb(25, 25, 25);
    }

    #hero-left {
        background-color: rgb(25, 25, 25);
    }


    .top-container {
        display: none;
    }


.hamburger-button {
   display: flex;
   justify-content: center;
   align-items: center;
    height: 100%;
    width: 100%;
}

    .hamburger-button-container {

        display: flex;


        width: 40px;
        height: 40px;

        
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
      

        position: absolute;
        right: 15px;
        top: 15px;







    }







    .line {
        height: 45%;
        width: 65%;
        display: flex;
        flex-direction: column;

        
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .inner-line {
        height: 50%;

        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    #logo-container {

        display: flex;
        padding-left: calc(100vw / 2 - 115px);


        width: 100%;
    }

    .page-title {
        text-align: center;
    }

    /*==CONTACT PAGE==*/

    

    /*
    .contact-page-header-container {

        height: 500px;
    }
    */
}


@media (max-width: 780px) {
    #ga-biz {
        flex-direction: column;
    }







}

@media (max-width: 600px) {
   #contact-section-wrapper {
    padding: 0;
   }

   

   #contact-page-form {
    width: 100%;
   }

  .contact-page-header-container {
    height: auto;
  }

  #contact-page-info-wrapper {
    margin-top: 50px;
  }

  .contact-page-intro {
    width: 85%;
  }

  .contact-page-header-container div:first-of-type {
    display: flex;
    justify-content: center;
  }

  .about-intro {
    margin-top: 50px;
  }
  

   #hidden-form {
    width: 100%;
    
   }

   .home-page .x-container {
    padding-right: 20px;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.6);
   }

   .category {
    margin: 10px;
   }

   .contact-section-header-p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
   }

   .chev {
    display: none;
   }

   

}
